@keyframes loop {
	0%{
		transform: translateX(0);
	}

  25%{
		transform: translateX(-50%);
	}

	50%{
		transform: translateX(-95%);
	}

  75%{
		transform: translateX(-50%);
	}

  100%{
    transform: translateX(0);
  }
}


animation: loopmj 15s infinite;