.range_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
  }
  
  .sliders_control {
    position: relative;
    min-height: 20px;
  }
  
  .form_control {
    position: relative;
    display: flex;
    font-size: 15px;
    color: #635a5a;
    width: 50%;
    color: #dd2222;
    margin: 0 10px;
  }

  .form_control div span i{
    color: #dd2222;
    font-size: 15px;
    font-weight:bold;
  }

  .form_control div input#from-input{
    width: 100px;
  }

  .form_control div input{
    color: #dd2222;
    font-size: 17px;
    border: none;
    outline: none;
    width: 30px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 900;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
      border:none;
    z-index: 99;
  }
  
  input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;  
      border:none;
  }
  
  input[type=range]::-webkit-slider-thumb:active {
    box-shadow: 0 0 9px #F3F3F3;
    -webkit-box-shadow: 0 0 9px #F3F3F3;
    border: var(--border);
  }
  
  input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 1px;
    width: 100%;
    position: absolute;
    background-color: #dd2222;
    pointer-events: none;
    z-index: 99;
  }
  
  #fromSlider {
    height: 0px;
    z-index:1;
  }

